<IfModule mod_mime.c>
  AddType application/manifest+json .webmanifest
  AddType application/json .json
</IfModule>

<IfModule mod_headers.c>
  <Files "sw.js">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
  </Files>
  <Files "manifest.json">
    Header set Cache-Control "no-cache"
  </Files>
</IfModule>
